* {
  margin: 0;
  padding: 0;
}
/* body {
  display: flex;
} */
#body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 1584px;
}

#main,
#aside {
  /* flex: 1 1 1; */
  line-height: 0;
}
#aside {
  min-width: 384px;
  width: 384px;
}
#main {
  /* width: calc(100%-384px); */
  min-width: 1200px;
  width: 1200px;
  /* width: 100%; */
}
h3 {
  line-height: 22px;
}
/* canvas{

} */
